
$primary: #f1f1f1;
$secondary: #d1d8e0;


@import 'bootstrap';
body {

    background-color: black;
    color:  #f1f1f1;
    font-family: 'Ubuntu', sans-serif;
    
    
}

h1,h2,h3,h4,h5{
    margin: 0
}

h1 {

    color: $secondary;
}

img{

    max-width: 100%;

}

a, .btn-link {
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
.section-title {
    font-size: 20px;
    text-align: center;
    padding: 15px 0 30px;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: blue;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);

    }
}
.modal-backdrop {

    position: inherit;
}

header{

background-color: #fff;
padding: 10px 0;
box-shadow: 0 5px 10px rgba(201,201,201,0.35);
top: 0;
left: 0;
width: 100%;
z-index: 10;
position: fixed;

.avatar-container{
    width: 60px;
    height: 60px;
    position: relative;
    text-transform: uppercase;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
                
    }
    i{
position: absolute;
left: 0;
top: 0;
font-size: 20px;
color: #0c0c0c;
    }
}

.logo-container{
    width: 92px;
    height: 70px;
    position: relative;
    text-transform: uppercase;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
       
                
    }
    i{
position: absolute;
left: 0;
top: 0;
font-size: 20px;
padding-right: 10px;

    }
}

.modal-header  {    
    color: #0c0c0c;
}
.profile-options-modal {

    .profile-options-list{
        padding: 0;
        margin: 0;


        li{
            a{
                display: block;
                padding: 10px 0;
                color: #0c0c0c;
                text-decoration: none;
               
                i{
                    position: inherit;
                    padding-right: 10px;
                    font-size: 20px;
                    
                        }
            }
        }
    }
}





}

//main 
.main{
 padding-top: 100px;   
}

.search-container{
    display: flex;
    justify-content: space-evenly;
}

.products-list-container {

padding-top: 15px;
ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li{
        border: 1px solid rgba(201,201,201,0.35);
        box-shadow: rgba(201,201,201,0.35);
        margin-bottom: 20px;
        border-radius: 4px;
        overflow: hidden;

        .product-image {
            width: 100%;
            height: 190px;
            object-fit: cover;
            object-position: center;



        }

        .product-info {
            margin: 0;
            padding: 0;
            .product-info-inner {
            
            padding: 28px;
            display: block;
            align-items: center;
            .tags {
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                top: -67px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;

                span{
                    display: block;
                    background: red;
                    color: #FFF;
                    border-radius: 20px;
                    margin-right: 20px;
                    font-size: 12px;
                    padding: 2px 10px ;
                    font-weight:500;

                    &:last-child{
                        margin-right: 0;
                    }





                 }
                }

                .product-name{
                    font-weight: 300;
                    font-size: 20px;
                    color: $primary;

                }
                .servicios{
                    margin-bottom: 10px;
                    font-size: 14px;
                    color: #adb5bd;
                    font-weight: 600;

                }
                .stars{

                    margin-top: 5px;
                    i{
                    font-size: 13px;
                    color: yellow;
                }
            }
        }
    } 
}
            .product-price {
                font-size: 18px;
    margin: 0;
    color: #f9fafb;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bolder;
    letter-spacing: 3px;

                span{
                    font-size: 15px;
                    margin-right: 3px;
                }


            }


            


        

    

    }

}

.servicios-card {

    background-color: #000000;
    text-align: justify;
    width: 100%;
    color: #fff;
    h5{
        text-align: center;
    }

}
footer {
    margin-top: 2.25rem;
    background: #141618;
    padding: 5.625rem 0;
    text-align: center;
    color: #fcfcfc;
  }
  footer p a {
    color: #fcfcfc;
  }
  footer p a:hover {
    text-decoration: underline;
  }
  footer .botton-redes {
    margin-top: 2.25rem;
  }
  footer .botton-redes a {
    font-size: 1.5rem;
    padding: 0 0.5625rem;
    color: #fcfcfc;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  footer .botton-redes a:hover {
    color: #b4975a;
    font-size: 1.9rem;
  }

