
$primary: #f1f1f1;
$secondary: #d1d8e0;


@import 'bootstrap';
body {

    background-color: black;
    color:  #f1f1f1;
    font-family: 'Ubuntu', sans-serif;
    
}

h1,h2,h3,h4,h5{
    margin: 0
}

h1 {

    color: $secondary;
}

img{

    max-width: 100%;

}

a {
    &:hover{
        text-decoration: none;
    }
}

header{

background-color: #fff;
padding: 10px 0;
box-shadow: 0 5px 10px rgba(201,201,201,0.35);

.avatar-container{
    width: 60px;
    height: 60px;
    position: relative;
    text-transform: uppercase;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
                
    }
    i{
position: absolute;
left: 0;
top: 0;
font-size: 20px;
color: #0c0c0c;
    }
}

.logo-container{
    width: 92px;
    height: 70px;
    position: relative;
    text-transform: uppercase;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
       
                
    }
    i{
position: absolute;
left: 0;
top: 0;
font-size: 20px;
padding-right: 10px;

    }
}

.modal-header  {    
    color: #0c0c0c;
}
.profile-options-modal {

    .profile-options-list{
        padding: 0;
        margin: 0;


        li{
            a{
                display: block;
                padding: 10px 0;
                color: #0c0c0c;
                text-decoration: none;
                text-transform: lowercase;

                i{
                    position: inherit;
                    padding-right: 10px;
                    font-size: 20px;
                    
                        }
            }
        }
    }
}





}